data
results

library
bin
share
include
lib
libexec

.vscode
.DS_Store

.ipynb_checkpoints
*.pyc
__pycache__

cosmic-credentials.json
tests/model.json
wget-log

node_modules
package-lock.json
babel.config.js
vue-app/dist
static
node

slurm-*.out
logs

define-model/germline-model.v*.ipynb
tmp.*
estimate_mutation_probabilities_ignore

